body {
    font-family: Quicksand;
}
h1, h2, h3, h4 {
    color: #9D191A;
}
.premiere-session {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul {
    list-style-type: none;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h2, #paragraphe {
    text-align: center;
}